body {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#root {
  min-height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  color: #cacde8;
}

span, strong, p {
  /* font-family: 'Roboto', sans-serif; */
  color: #cacde8;
}

input {
  border: none;
  margin: 0;
  padding: 0;
}

button {
  pointer-events: all;
  cursor: pointer;
  background: transparent;
  border: none;
}


li, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
